<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/Font/css")*@
    @Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        body {
            margin-top: 18px;
            padding-top: 18px;
        }
        #wrapper {
            background-color: #3C3C3C;
        }

        #page-wrapper {
            background-color: #D0D0D0;
        }

    </style>
</head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
         <div class="fixed-top">
               @Html.Partial("PartialLayoutTop", "Home")
         </div>
        <div>
            @Html.Partial("PartialLayoutBodyLeft","Home")
        </div>
        <!--  page-wrapper -->
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- end wrapper -->
    <!-- Core Scripts - Include with every page -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
