@model EIP.Models.工作清單
@{
    ViewBag.Title = "CreatePJ";
    
}

<h2></h2>

@using (Html.BeginForm("CreateProject", "Project", FormMethod.Post, new { novalidate = "novalidate" }))
{
<div>
    <div>
        @Html.LabelFor(m => m.事項名稱, Html.DisplayNameFor(m => m.事項名稱))
        @Html.TextBoxFor(m => m.事項名稱, new { @class = "form-control", placeholder = "專案名稱" })
        @Html.ValidationMessageFor(m => m.事項名稱, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.專案歸類, Html.DisplayNameFor(m => m.專案歸類))
        @Html.TextBoxFor(m => m.專案歸類, new { @class = "form-control", placeholder = "專案類別" })
        @Html.ValidationMessageFor(m => m.專案歸類, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.重要性, Html.DisplayNameFor(m => m.重要性))
        @Html.TextBoxFor(m => m.重要性, new { @class = "form-control", placeholder = "重要性" })
        @Html.ValidationMessageFor(m => m.重要性, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.回報狀況, Html.DisplayNameFor(m => m.回報狀況))
        @Html.TextBoxFor(m => m.回報狀況, new { @class = "form-control", placeholder = "" })
        @Html.ValidationMessageFor(m => m.回報狀況, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.交辦人, Html.DisplayNameFor(m => m.交辦人))
        @Html.TextBoxFor(m => m.交辦人, new { @class = "form-control", placeholder = "交辦人" })
        @Html.ValidationMessageFor(m => m.交辦人, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.完成度, Html.DisplayNameFor(m => m.完成度))
        @Html.TextBoxFor(m => m.完成度, new { @class = "form-control", placeholder = "完成度" })
        @Html.ValidationMessageFor(m => m.完成度, "", new { @class = "text-danger" })
    </div>

   

    <div>
        @Html.LabelFor(m => m.完成日, Html.DisplayNameFor(m => m.完成日))
        @Html.TextBoxFor(m => m.完成日, new { @class = "form-control", placeholder = "完成日" })
        @Html.ValidationMessageFor(m => m.完成日, "", new { @class = "text-danger" })
    </div>

    @*<div>
        @Html.LabelFor(m => m.專案內容, Html.DisplayNameFor(m => m.專案內容))
        @Html.TextAreaFor(m => m.專案內容, 10, 5, new { @class = "form-control", placeholder = "專案內容" })
    </div>*@
    <div>
        <input type="submit" value="送出" class="btn btn-primary" />
    </div>
    <h3 class="text-danger">@Html.ValidationSummary()</h3>
</div>
}
