@model IEnumerable<EIP.Models.ViewModel.ProjectListViewModel>

@{
    ViewBag.Title = "Index";

}






<div class="pt-5">
    @Html.ActionLink("新增專案", "CreateProject", "Project", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-2">@Html.DisplayNameFor(m => m.事項名稱)</th>
            <th class="col-md-2">@Html.DisplayNameFor(m => m.專案歸類)</th>
            <th class="col-md-2">@Html.DisplayNameFor(m => m.回報狀況)</th>
            <th class="col-md-1">@Html.DisplayNameFor(m => m.完成度)</th>
            <th class="col-md-1">@Html.DisplayNameFor(m => m.完成日)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (EIP.Models.ViewModel.ProjectListViewModel item in Model)
        {
            <tr class="row">
                <td class="col-md-2">@item.事項名稱</td>
                <td class="col-md-2">@item.專案歸類</td>
                <td class="col-md-1">@item.回報狀況</td>
                <td class="col-md-1">@item.完成度</td>
                <td class="col-md-1">@item.完成日</td>

            </tr>
        }
    </tbody>
</table>

