@model EIP.Models.ViewModel.MemberViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}




<div class="">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal mt-5 form mx-auto ">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.信箱, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(model => model.信箱, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.信箱, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeePW, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        @Html.EditorFor(model => model.EmployeePW, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.EmployeePW, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 d-flex">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.RememberMe)
                    </div>
                    @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="登入" class="btn btn-dark"/>
                </div>
            </div>
        </div>
    }</div>
