@model EIP.Models.ViewModel.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginIndex</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h2>Login</h2>

    <div class="">
        @using (Html.BeginForm("LoginIndex", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.信箱, new { @class = "ml-3 mb-3 mt-4 font-weight-bold" })
                @Html.TextBoxFor(m => m.信箱, new { @class = "d-inline ml-3 mb-3 form-control mt-3 w-25" })
                @Html.ValidationMessageFor(m => m.信箱, "", new { @class = "text-danger font-weight-bold mt-4 ml-2" })
               
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmployeePW, new { @class = "ml-3 mb-3 mt-4 font-weight-bold" })
                @Html.PasswordFor(m => m.EmployeePW, new { @class = "d-inline ml-3 mb-3 form-control mt-3 w-25" })
                @Html.ValidationMessageFor(m => m.EmployeePW, "", new { @class = "text-danger font-weight-bold mt-4 ml-2" })               
            </div>
            <div class="form-group">
                <label class="ml-4 mb-2">
                    <input class="ml-1" type="checkbox" name="RememberMe" />
                    記住我
                </label>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary ml-5 mb-3 mt-3" value="登入" />

            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
